@import "fonts.css";

body, canvas{
    margin: 0;
    padding: 0;
    background-color: #1b1b1b;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (orientation: landscape) {
    canvas{
        width: auto;
        height: 100vmin;
    }
    #warning{
        display: none;
    }
}