body, canvas{
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (orientation: landscape) {
    canvas{
        width: auto;
        height: 100vmin;
    }
    #warning{
        display: none;
    }
}

@media (orientation: portrait) {
    canvas {
        display: none;
    }
}
