body, canvas{
    margin: 0;
    padding: 0;
    background-color: #1b1b1b;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (orientation: landscape) {
    canvas{
        width: auto;
        height: 100vmin;
    }
    #warning{
        display: none;
    }
}

@media (orientation: portrait) {
    canvas {
        display: none;
    }
}

.controls{
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 15px;
    left: 15px;
}